<nav class="navbar navbar-expand-lg bg-body-tertiary bg-navy mx-auto navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand text-lilac" >Sala de juegos</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/quienSoy">Quien Soy</a>
                </li>
            </ul>
            <span class="navbar-text text-lilac">
                Stefania Bianchi
            </span>
        </div>
    </div>
</nav>
